$myBtnColor: #7f55da;
$textColor: #303642;
$ptextColor: #7e8492;
$LinkColor: #6c589e;

.AboutPages {
  width: 100%;
  transition: all 0.3s;
  h1 {
    text-align: center;
    font-weight: 600;
    color: $textColor;
    font-size: 2.2rem;
  }
  .about {
    margin-top: 35px;
    padding-right: 15px;
    padding-left: 15px;

    h1 {
      text-align: center;
      font-weight: 600;
      color: $textColor;
    }
    .reactLogo {
      position: absolute;
      width: 80px;
      animation: circle 10s linear infinite;
    }
    .aboutContent {
      position: relative;

      .reduxLogo {
        position: absolute;
        width: 70px;
        top: -5px;
        right: 90px;
        animation: circle 6s linear infinite;
      }
      .nextLogo {
        position: absolute;
        width: 150px;
        bottom: -9px;
        left: 70px;
      }

      h3 {
        font-size: 2.2rem;
      }
      p {
        font-size: 1.1rem;
        color: #7e8492;
        font-weight: 300;
      }
    }
    .imgBox {
      max-width: 360px;
      margin: auto;
      position: relative;
      overflow-x: hidden;
      overflow-y: hidden;

      img {
        position: absolute;
        max-width: 130%;
        top: -23px;
      }
    }
  }
  .aniMelogo {
    width: 100px;
    animation: bounce infinite 3s;
  }
  .headingText {
    h1 {
      text-align: center;
      font-weight: 600;
      color: #303642;
      font-size: 2.2rem;
    }
    p {
      color: $ptextColor;
    }
  }
  .Working_Content {
    h3 {
      color: $textColor;
      font-weight: 600;
      font-size: 2rem;
    }
    p {
      font-size: 1.1rem;
      color: #7e8492;
      font-weight: 300;
    }
    .btn {
      outline: none;
      border: none;
      background-color: $myBtnColor;
      color: #fff;
      border-radius: 5px;
      padding: 7px 15px;
      margin-top: 10px;
    }
  }

  .skillBar {
    h4 {
      font-weight: 600;
      font-size: 1.7rem;
    }
  }
}

.shap2 {
  background-image: linear-gradient(
    to left bottom,
    #9e5ef7,
    #9959f2,
    #9555ed,
    #9050e8,
    #8c4be3,
    #8449da,
    #7c47d2,
    #7545c9,
    #6945ba,
    #5f44aa,
    #6c589e,
    #4e418b
  );
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  min-height: 360px;
  transition: all 4s ease-in-out;
  max-width: 360px;
  margin: auto;
  animation: morph infinite 8s;
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 50% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }

  0% {
    transform: rotate(4deg);
  }
  100% {
    transform: rotate(-3deg);
  }
}

@keyframes circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 576px) {
  .AboutPages {
    max-width: 100% !important;
    width: 100% !important;
    overflow-x: hidden;
    position: relative;
    .about {
      margin-top: 5rem;
      .aboutContent {
        margin-top: 30px;

        .reduxLogo {
          width: 60px;
          top: -23px;
          right: 23px;
        }

        .nextLogo {
          position: absolute;
          width: 150px;
          right: -10px !important;
          bottom: -18px !important;
          margin-left: auto;
        }

        .imgBox {
          margin-top: 25px;
        }
      }
    }

    .headingText {
      padding-left: 10px;
      padding-right: 10px;
    }

    .AcrodingB {
      padding-left: 10px;
      padding-right: 10px;
    }
    .skillBar {
      width: 100% !important;
    }
  }
}

@media screen and (max-width: 768px) {
  .AboutPages {
    max-width: 100% !important;

    .Working_Content {
      padding-left: 15px;
      padding-right: 15px;
    }
    .accordion {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}
@media screen and (max-width: 992px) {
  .AboutPages {
    max-width: 100% !important;

    .Working_Content {
      padding-left: 15px;
      padding-right: 15px;
    }
    .accordion {
      padding-left: 15px;
      padding-right: 15px;
    }

    .about {
      .aboutContent {
        .nextLogo {
          bottom: 0px;
          left: 179px !important;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .AboutPages {
    max-width: 100% !important;

    .about {
      .aboutContent {
        .reduxLogo {
          top: -4px;
          right: 31px;
        }
        .nextLogo {
          bottom: -13px;
          left: 37px;
        }
      }
    }
  }
}
